include:
  - docker-compose.dev.yml
services:
  identity-platform-login-ui:
    image: ghcr.io/canonical/identity-platform-login-ui:latest
    environment:
      - KRATOS_PUBLIC_URL=http://kratos:4433
      - KRATOS_ADMIN_URL=http://kratos:4434
      - HYDRA_ADMIN_URL=http://hydra:4445
      - BASE_URL=http://localhost:4455
      - COOKIES_ENCRYPTION_KEY=WrfOcYmVBwyduEbKYTUhO4X7XVaOQ1wF
      - PORT=4455
      - LOG_LEVEL=DEBUG
      - LOG_FILE=/var/log/aba.log
      - TRACING_ENABLED=FALSE
      - OPENFGA_API_SCHEME=http
      - OPENFGA_API_HOST=openfga:8080
      - OPENFGA_STORE_ID=01GP1254CHWJC1MNGVB0WDG1T0
      # TODO: Switch to true when implemented in FE
      - IDENTIFIER_FIRST_ENABLED=false
    ports:
      - "4455:4455"
    networks:
      - intranet
    restart: on-failure
