version: v1.1.0

oauth2_provider:
    url: "http://hydra:4445"
log:
    level: debug
    format: text
    leak_sensitive_values: true
dsn: memory
serve:
  public:
    base_url: http://localhost/
    cors:
      enabled: True
  admin:
    base_url: http://kratos:4434/

identity:
    default_schema_id: default
    schemas:
        - id: default
          url: file:///etc/config/kratos/identity.schema.json
session:
    whoami:
        required_aal: highest_available

selfservice:
    allowed_return_urls:
      - http://localhost/ui/
    default_browser_return_url:
        http://localhost/ui/
    flows:
        error:
            ui_url: http://localhost/ui/error
        login:
            ui_url: http://localhost/ui/login
            # TODO: Uncomment when the pattern is implemented in FE
            # style: identifier_first
            # uncomment this block after verification-post-login has been addressed
            #after:
            #    hooks:
            #      - hook: require_verified_address
        recovery:
            enabled: True
            ui_url: http://localhost/ui/reset_email
            use: code
            after:
                default_browser_return_url: http://localhost/ui
                hooks:
                    - hook: revoke_active_sessions
        settings:
            # TODO: Replace with self-service settings page when implemented
            ui_url: http://localhost/ui/reset_password
            required_aal: highest_available
            after:
                oidc:
                    default_browser_return_url: http://localhost/ui/manage_connected_accounts
                webauthn:
                    default_browser_return_url: http://localhost/ui/setup_passkey
        registration:
            enabled: true
            ui_url: http://localhost/ui/register
            after:
                password:
                    hooks:
                        - hook: show_verification_ui
                oidc:
                    hooks:
                    - hook: session
                webauthn:
                    hooks:
                    - hook: session
        verification:
            enabled: True
            ui_url: http://localhost/ui/verification
            lifespan: 1h
            use: code
            notify_unknown_recipients: False

    methods:
        profile:
            enabled: true
        totp:
            enabled: true
            config:
                issuer: Identity Platform
        lookup_secret:
            enabled: true
        password:
            enabled: true
            config:
                haveibeenpwned_enabled: false
        code:
            enabled: true
        webauthn:
            enabled: true
            config:
                passwordless: true
                rp:
                    # Set 'id' to the top-level domain.
                    id: localhost
                    # Set 'origin' to the exact URL of the page that prompts the user to use WebAuthn. You must include the scheme, host, and port.
                    origins:
                        - http://localhost
                    display_name: Canonical
        oidc:
            enabled: true
            config:
                providers:
                    -   id: "github"
                        provider: "github"
                        mapper_url: "file:///etc/config/kratos/schema.jsonnet"
                        scope: [ "user:email" ]
                        label: Github
courier:
    template_override_path: /etc/config/kratos/templates
    smtp:
        connection_uri: smtps://test:test@mailslurper:1025/?skip_ssl_verify=true
        from_address: identity@canonical.com
        from_name: Canonical Identity Platform
