Verify your account
===================

Account: {{ .To }}

Verification code: {{ .VerificationCode }}

To verify your account, please visit the following link:
{{ .VerificationURL }}

--------------------------------------------------------------------------------
You are receiving this email because you are a user of Canonical Identity Platform.
If you're not sure why you're receiving this please contact support.
