@charset "UTF-8";


//settings
$breakpoint-navigation-threshold: 820px;

// import vanilla-framework
@import 'vanilla-framework/scss/build';
@include vf-p-icon-delete;
@include vf-p-icon-get-link;
@include vf-p-icon-lock-locked;
@include vf-p-icon-profile;
@include vf-p-icon-warning-grey;

body {
  background-color: $color-paper;
}

@media screen and (max-width: $breakpoint-small) {
  .page-row {
    padding: 0;
  }

  .page-card {
    border: 0;
  }

  body {
    background-color: $color-x-light;
  }
}

.page-inner {
  padding: 1rem 2rem 2rem;
}

.oidc-login-button {
  background: $color-x-light;
  border-color: $colors--theme--border-default;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  padding: 0.5rem;
  width: 100%;
}

hr {
  margin-bottom: $sph--large;
}

.password-label {
  width: 100%;
}

.backup-codes {
  border-bottom: $border;
  border-top: $border;
  margin-top: $spv--small;

  @media screen and (min-width: $breakpoint-small) {
    column-count: 2;
  }

  li:before {
    font-weight: 700;
  }
}

.checkbox-save-backup-codes {
  margin-top: -1rem;
}

.deactivate-backup-codes-list {
  list-style: inside;
  margin-top: $spv--large;
  max-width: 36rem;

  li {
    border-top: $border;
    margin-bottom: $spv--large;
    padding-left: $sph--x-large;
  }
}

.security-key-list {
  border-top: $border;
  display: flex;
  padding-bottom: $spv--small;
  padding-top: $spv--small;

  .name {
    flex-grow: 1;
  }

  .created {
    min-width: 12rem;
    text-align: right;
  }

  .delete {
    min-width: 8rem;
    text-align: right;
  }
}

.p-card {
  background-color: $color-x-light;
}

.self-serve-logo {
  display: flex;

  .image {
    height: fit-content;
    margin-right: 0.25rem;
    margin-top: -1rem;
    max-width: 2rem;
  }

  .text {
    color: $color-x-dark;
  }
}

.self-serve-logo:hover {
  text-decoration: none !important;
}

.self-serve-user {
  bottom: 0;
  position: absolute;
  width: 100%;
}

.l-navigation.is-collapsed:focus-within {
  transform: translateX(-100%);
}

.provider {
  display: flex;
  align-items: center;

  .provider-logo {
    margin-right: 1.5rem;
  }

  .link-provider-btn {
    margin-bottom: 0px;
    margin-left: auto;

    .p-icon--get-link {
      @include vf-icon-get-link($color-x-light);
    }
  }

  .unlink-provider-btn {
    margin-bottom: 0px;
    margin-left: auto;

    .p-icon--delete {
      @include vf-icon-delete($color-x-light);
    }
  }
}
