@charset "UTF-8";


//settings
$breakpoint-navigation-threshold: 820px;

// import vanilla-framework
@import 'vanilla-framework/scss/build';
@include vf-p-icon-warning-grey;

.login-card {
  width: 100%;
  max-width: 439px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  text-align: center;
}

.login-button {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.canonical-logo {
  margin-left: auto;
  margin-right: auto;
  max-width: 20rem;
}

.error-icon {
  height: 5rem;
  margin: 1.5rem auto 1rem;
  opacity: 0.9;
  width: 5rem;
}

.error-heading {
  margin-left: auto;
  margin-right: auto;
}
