@charset "UTF-8";


//settings
$breakpoint-navigation-threshold: 820px;

// import vanilla-framework
@import 'vanilla-framework/scss/build';
@include vf-p-icon-warning-grey;

@media screen and (max-width: $breakpoint-small) {
  .page-row {
    padding: 0;
  }

  .page-card {
    border: 0;
  }

  body.is-paper {
    background-color: #fff;
  }
}

.page-inner {
  padding: 1rem 2rem 2rem;
}

.oidc-login-button {
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  padding: 0.5rem;
  width: 100%;
}
