name: End-to-end tests
run-name: End-to-end test for ${{ github.sha }} on ${{ github.ref_name }}

on:
  workflow_dispatch:
  workflow_call:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6
        with:
          go-version: '1.25'
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          node-version: 22

      - name: Install oathtool
        run: |
          sudo apt update
          sudo apt install oathtool

      - name: Boot the cluster with dependant backend systems
        run: |
          ./ui/tests/scripts/01-start-cluster.sh &
          sleep 30 # wait for cluster to boot up

      - name: Start the login ui
        run: |
          ./ui/tests/scripts/02-start-ui.sh &
          curl --head --fail --retry-delay 2 --retry 100 --retry-connrefused --insecure http://localhost/ui/reset_email

      - name: Register a client and boot its container
        run: |
          ./ui/tests/scripts/03-start-oidc-app.sh

      - name: Install Playwright Browser
        run: cd ui && npx playwright install --with-deps chromium

      - name: Run the tests
        run: make test-e2e

      - name: Upload test results
        if: always()
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
        with:
          name: playwright-results
          path: ui/playwright-report
