name: 'Close stale issues and PRs'
on:
  schedule:
    - cron: '0 7 * * 1-5' # every morning at 7 AM, only work days

permissions:
  issues: write

jobs:
  stale:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/stale@997185467fa4f803885201cee163a9f38240193d # v10
        with:
          days-before-stale: 90
          stale-issue-message: "This issue has been marked as stale due to the lack of updates in the last 90 days"
          days-before-close: 14
          close-issue-message: "This issue has been closed due to the lack of updates"
          stale-issue-label: 'stale'
          exempt-issue-labels: 'high-priority,needed'
          stale-pr-label: 'stale'
          exempt-pr-labels: '*'  # Exclude PRs
          start-date: '2025-02-03T00:00:00+0000' # the ISO 8601 day of the PR
